@import '../shared.scss';

.content-display-row {
    display: flex;
    flex: 1 1 100%;

    .display-container {
        display: flex;
        flex: 1 1 100%;
        max-width: 100%;
        height: 90%;
        width: 100%;
        position: relative;
        overflow-y: scroll;
        transition: all .3s ease 0s;

        .card-header {

            .section-title {
                font-weight: 400;
                letter-spacing: 2px;
                background-color: $color-primary;
                color: $color-secondary;
                display: block;
                line-height: 40px;
                height: 40px;
                text-align: right;
                width: 100%;

                .title {
                    flex: 1 1 100%;
                    padding: 0 50px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    display: block;
                    font-size: 20px;
                    line-height: 40px;
                    height: 40px;
                    text-align: right;
                    border-bottom: 2px solid $color-secondary;
                }
            }
        }

        &.inactive {
            max-width: 0;
            width: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        // .internal {
        //     display: flex;
        //     flex-direction: row;
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     transform-style: preserve-3d;
        // }

        &.projectsActive {
            display: flex;
            flex: 1 1 100%;
            flex-direction: row;

            .repository-views {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                flex: 1 1 100%;
                overflow-y: scroll;

                .repository-view {
                    display: flex;
                    flex: 1 1 250px;
                    min-height: 250px;
                    width: 90%;
                    background-color: $color-primary-light;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0;
                    padding: 20px 20px 0;
                    border-left: 4px solid $color-secondary;
                    border-bottom: 4px solid $color-grey-tint-five;

                    @include mobile-media-query {
                        flex: 1 1 300px;
                        min-height: 300px;
                        width: 100%;
                        padding: 0 20px;
                    }

                    .repository-number {
                        display: flex;
                        height: 20px;
                        width: 100%;
                        justify-content: flex-end;
                        margin-right: 20px;
                        font-size: 15px;
                        font-weight: 500;

                    }

                    .repository-description {
                        display: flex;
                        flex: 1 1 70px;
                        width: 90%;
                        justify-content: center;
                        text-indent: 20px;
                        align-items: center;
                        font-size: 20px;
                        font-weight: normal;
                        flex-wrap: wrap;
                    }

                    .repository-view-intro {
                        display: flex;
                        flex: 1 1 50px;
                        justify-content: center;
                        align-items: center;
                        font-size: 28px;
                        letter-spacing: 2px;
                        border-bottom: 1px solid $color-secondary;
                        font-weight: 300;
                        @include mobile-media-query {
                            width: 100%;
                            margin: 0 20px;
                        }
                    }

                    .repository-url {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        @include mobile-media-query {
                            width: 100%;
                            padding: 15px;
                        }

                        a {
                            display: flex;
                            text-decoration: none;
                            color: $color-secondary;
                            cursor: pointer;
                            letter-spacing: 4px;
                            font-size: 17px;
                        }
                    }

                    .repository-created_at {
                        display: flex;
                        flex: 1 1 40px;
                        width: 90%;
                        justify-content: center;
                        align-items: center;
                        text-indent: 30px;
                    }
                }
            }
        }

        &.contactActive {
            display: flex;
            flex: 1 1 100%;
            width: 100%;

            .contact-container {
                display: flex;
                flex-direction: column;
                flex: 1 1 80%;
                max-width: 80%;
                padding: 0 20px;
                justify-content: space-between;
                align-items: center;
                transition: all .3s ease 0s;

                a {
                    text-decoration: none;
                }

                .link {
                    display: flex;
                    text-decoration: none;
                    color: $color-secondary;
                    cursor: pointer;
                    letter-spacing: 4px;
                    font-size: 17px;
                    justify-content: center;
                    align-items: center;
                }

                .intro-text {
                    display: flex;
                    flex: 1 1 40px;
                    font-size: 30px;
                    font-weight: 500;
                    letter-spacing: 3px;
                    padding: 20px 0;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }

                .git-hub {
                    flex: 1 1 200px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .octocat-logo {
                        height: 100px;
                        width: auto;
                        display: flex;
                        flex: 1 1 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;

                        &:hover {
                            animation: minor-zoom-transform infinite 1s linear;
                        }
                    }
                }

                .linked-in {
                    flex: 1 1 200px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .linked-in-logo {
                        height: 80px;
                        width: auto;
                        display: flex;
                        flex: 1 1 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;

                        &:hover {
                            animation: minor-x-strech-transform infinite 1s linear;
                        }
                    }
                }

                .email {
                    flex: 1 1 200px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .gmail-logo {
                        height: 100px;
                        width: auto;
                        display: flex;
                        flex: 1 1 100%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;

                        &:hover {
                            animation: minor-x-strech-transform infinite 1s linear;
                        }
                    }
                }
            }
        }

        &.aboutActive {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex: 1 1 100%;
            overflow-x: hidden;
            @include mobile-media-query {
                margin: 0;
                padding: 0;

                .card-header {
                    display: flex;
                    justify-content: flex-start;
                }
            }

            .inner-card {
                flex: 2 1 90%;
                margin: 0;
                height: 100%;

                .about-view {
                    letter-spacing: 2px;
                    height: 100%;

                    .content {
                        display: flex;
                        flex: 1 1 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .about-title {
                            justify-content: space-between;
                            flex: 1 1 100px;
                            width: 90%;
                            // max-height: 200px;

                            .name {
                                display: flex;
                                flex: 1 1 60px;
                                font-weight: 400;
                                font-size: 20px;
                                letter-spacing: 4px;
                                margin: 0;
                                justify-content: flex-end;
                                color: $color-secondary;
                            }

                            .sub-title {
                                display: flex;
                                flex: 1 1 100%;
                                width: 50%;
                                height: 30px;
                                margin: 0;
                                margin-left: auto;
                                color: $color-secondary;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 10px;
                                letter-spacing: 2px;
                                background-color: $color-primary;
                                border-top: 2px solid $color-secondary;
                            }
                        }

                        .tinkering-container {
                            width: 90%;
                            margin-top: 20px;
                            letter-spacing: 2px;
                            flex: 1 1 100px;

                            @include mobile-media-query {
                                margin-top: 10px;
                            }

                            ul {
                                margin-top: 10px;
                                display: flex;
                                flex: 1 1 100%;
                                flex-direction: column;
                                font-size: 15px;
                                list-style: none;
                                width: 90%;
                                font-weight: 500;

                                li {
                                    font-weight: 300;
                                    flex-wrap: wrap;
                                    padding: 1px;
                                    width: 100%;
                                    text-indent: 10px;
                                }
                            }
                        }

                        .projects-container {
                            width: 90%;
                            margin-top: 10px;
                            letter-spacing: 2px;
                            flex: 1 1 100px;

                            ul {
                                margin-top: 10px;
                                display: flex;
                                flex: 1 1 100%;
                                flex-direction: column;
                                font-size: 15px;
                                font-weight: 500;
                                list-style: none;
                                width: 90%;

                                li {
                                    font-weight: 300;
                                    flex-wrap: wrap;
                                    padding: 5px;
                                    width: 100%;
                                    text-indent: 10px;
                                }
                            }
                        }

                        footer {
                            display: flex;
                            flex: 1 1 50px;
                            max-height: 60px;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 10px;

                            a {
                                display: flex;
                                text-decoration: none;
                                color: $color-secondary;
                                cursor: pointer;
                                letter-spacing: 4px;
                                font-size: 17px;
                                transition: all .3s ease 0s;

                                &:hover {
                                    padding: 20px;
                                    color: $color-secondary;
                                    background-color: $color-primary;
                                    letter-spacing: 8px;
                                    border: .5px solid $color-grey-tint-three;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
