@import '../shared.scss';

.navigation {
    display: flex;
    transition: all .3s ease 0s;
    flex: 1 1 100%;
    flex-direction: column;
    height: 300px;

    .header-component {
        display: flex;
        flex: 1 1 40px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: $color-secondary;

        .header-component-text {
            display: flex;
            flex: 1 1 100%;
            width: 100%;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            color: rgba($font-primary-color-dark, .7);
            margin: 10px 0;
            letter-spacing: 2px;
        }
        @include mobile-media-query {
            flex: 1 1 120px;
            max-height: 120px;
            max-width: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    .navigation-container {
        display: flex;
        flex: 2 1 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .navigation-button {
            display: inline-block;
            font-family: 'roboto', 'helvetica neue', 'helvetica';
            padding: .5rem 0;
            margin: .5rem 1rem;
            width: 11rem;
            height: 50px;
            background: transparent;
            color: $font-primary-color-dark;
            border: 2px solid $color-primary;
            transition: border, background-color, letter-spacing, opacity .3s ease 0s;
            letter-spacing: 1px;
            opacity: .5;
            cursor: pointer;
            @include mobile-media-query {
                height: 40px;
            }

            &.not-selected {
                &:hover {
                    border: .5px solid $color-secondary;
                    background-color: $color-primary-light;
                    letter-spacing: 3px;
                    opacity: 1;
                }
            }

            &.selected-button {
                border: .5px solid $color-secondary;
                background-color: $color-primary;
                cursor: default;
                letter-spacing: 3px;
                opacity: 1;
            }
        }

        &.post-selection {
            flex: 1 1 100px;
            flex-direction: column;
            @include mobile-media-query {
                flex: 1 1 100px;
                flex-direction: row;
            }
        }
    }

    &.initial-nav {
        display: flex;
        flex: 2 2 300px;
        display: flex;
        flex-direction: column;
        margin: 0;
        max-height: 120px;
        max-width: 60%;
        min-width: 40%;

        @include mobile-media-query {
            position: absolute;
            max-height: 120px;
            max-width: 100%;
            top: calc(50% - 100px);
            margin: 0;
            width: 90%;
        }

        .header-component {
            display: flex;
            flex: 1 1 40px;
            flex-direction: column;
            width: 100%;
            align-items: center;
            background-color: $color-secondary;

            .header-component-text {
                display: flex;
                flex: 1 1 100%;
                width: 100%;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                color: rgba($font-primary-color-dark, .7);
                margin: 10px 0;
                letter-spacing: 2px;
            }
            @include mobile-media-query {
                flex: 1 1 120px;
                max-height: 120px;
                max-width: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &.side-nav {
        display: flex;
        flex: 2 2 300px;
        display: flex;
        max-width: 200px;
        flex-direction: column;

        @include mobile-media-query {
            max-width: 100%;
            margin: 0;
            margin-bottom: 10px;
            width: 100%;
            max-height: 100px;
        }

        .header-component {
            display: flex;
            flex: 1 1 40px;
            max-height: 40px;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            background-color: $color-secondary;
            @include mobile-media-query {
                margin: 0;
            }

            .header-component-text {
                display: flex;
                flex: 1 1 100%;
                width: 100%;
                height: 30px;
                font-size: 20px;
                justify-content: center;
                align-items: center;
                color: rgba($font-primary-color-dark, .7);
                margin: 0;
                letter-spacing: 2px;
                @include mobile-media-query {
                    padding: 10px 0;
                }
            }
        }

        @include mobile-media-query {

            .header-component {
                display: flex;
                flex: 1 1 45px;
                align-items: center;
                justify-content: center;

                .header-component-text {
                    display: flex;
                    flex: 1 1 30px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
