

$color-accent-blue: #3ee;
$color-accent-green: #3e3;
$color-grey-tint-one: #222;
$color-grey-tint-two: #3e3e3e;
$color-grey-tint-three: #757575;
$color-grey-tint-four: #919191;
$color-grey-tint-five: #acacac;
$color-grey-tint-six: #c8c8c8;
$color-grey-tint-seven: #e3e3e3;


// theme colors
$color-primary: #eee;
$color-primary-light: #fff;
$color-primary-dark: #bcbcbc;

$color-secondary: #4fc3f7;
$color-secondary-light: #8bf6ff;
$color-secondary-dark: #0093c4;

//font
$font-primary-color-dark: #000;


// theme sizes
$card-margin: 20px;
$mobile-break-point: 375px;
$mid-break-point: 768px;

@mixin mobile-media-query {
    @media (max-width: #{$mobile-break-point}) {
        @content;
    }
}

@mixin mid-media-query {
    @media (min-width: #{$mobile-break-point}) and (max-width: #{$mid-break-point}) {
        @content;
    }
}

@mixin desktop-media-query {
    @media (min-width: #{$mid-break-point + 1 }) {
        @content;
    }
}
